<div class="main-content">
    <div id="loader" *ngIf="loading">
        <img src="assets/img/loader-preview.svg" alt="loading" />
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ORDER CODE</th>
                            <th>PRICE</th>
                            <th>SEND DATA</th>
                            <th>STATUS</th>
                            <th>ADDITIONAL ACTION</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of userOrders; let i = index">
                                <td style="width: 10%">{{ i + 1 }}</td>
                                <td style="width: 20%">{{row.code}}</td>
                                <td style="width: 20%">{{row.price}}</td>
                                <td style="width: 20%">{{row.sendDate}}</td>
                                <td style="width: 20%">{{row.orderStatus}}</td>
                                <td style="width: 10%" >
                                    <a href="{{ '#/payment/' + row.code }}" *ngIf="row.orderStatus == 'CREATED';else elseTemplate">
                                        Pay for the order
                                    </a>
                                    <ng-template #elseTemplate>
                                        No action required
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>