<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/" class="simple-text"> DigitKraft </a>
  </div>
  <ul class="nav responsive-nav">
    <li class="dropdown" *ngIf="isMobileMenu()">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa pe-7s-cart"></i>
        <b class="caret"></b>
        <span
          style="transform: translateX(21px)"
          class="notification hidden-sm hidden-xs"
          >{{ getCartItemAmount() }}</span
        >
        <p class="hidden-lg hidden-md">
          {{ getCartItemAmount() }} ITEMS IN THE CART
          <b class="caret"></b>
        </p>
      </a>
      <ul
        class="dropdown-menu"
        *ngIf="getCartItemAmount() > 0; else empty_cart"
      >
        <li style="display: flex" *ngFor="let product of getCurrentCart()">
          <a
            style="width: 100%"
            href="{{ '#/productPreview?name=' + product.name }}"
            >{{ product.name }}</a
          >
          <i
            (click)="removeCartItem(product)"
            class="fa pe-7s-close cart-item-trash"
          ></i>
        </li>
        <li class="divider"></li>
        <div class="order-summary-button">
          <a href="#/orderSummary" class="btn btn-info btn-wd">Go to summary</a>
        </div>
      </ul>
      <ng-template #empty_cart>
        <ul class="dropdown-menu">
          Your cart is empty
        </ul>
      </ng-template>
    </li>
    <li *ngIf="isMobileMenu()">
      <a href="#"> Account </a>
    </li>

    <li *ngIf="isMobileMenu()">
      <a style="cursor: pointer" (click)="logout()"> {{ getLogoutText() }} </a>
    </li>

    <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }}"
    >
      <a *ngIf="canShowEntry(menuItem)" [routerLink]="[menuItem.path]">
        <i class="{{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
