<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        (click)="sidebarToggle()"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">{{ getTitle() }}</span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left" style="margin-top: 1rem">
        <!-- <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>
                    </a>
                </li> -->

        <li *ngIf="showSearch">
          <div class="search-filter">
            <div>
              <input
                (keyup.enter)="searchProduct()"
                class="form-control"
                [(ngModel)]="searchText"
                placeholder="Find Product"
              />
              <i class="pe-7s-search"></i>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa pe-7s-cart"></i>
            <b class="caret"></b>
            <span
              style="transform: translateX(21px)"
              class="notification hidden-sm hidden-xs"
              >{{ getCartItemAmount() }}</span
            >
            <p class="hidden-lg hidden-md">
              {{ getCartItemAmount() }} Notifications
              <b class="caret"></b>
            </p>
          </a>
          <ul
            class="dropdown-menu"
            *ngIf="getCartItemAmount() > 0; else empty_cart"
          >
            <li style="display: flex" *ngFor="let product of getCurrentCart()">
              <a
                style="width: 100%"
                href="{{ '#/productPreview?name=' + product.name }}"
                >{{ product.name }}</a
              >
              <i
                (click)="removeCartItem(product)"
                class="fa pe-7s-close cart-item-trash"
              ></i>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#/orderSummary" class="btn btn-info btn-wd"
                >Go to summary</a
              >
            </li>
          </ul>
          <ng-template #empty_cart>
            <ul class="dropdown-menu">
              Your cart is empty
            </ul>
          </ng-template>
        </li>
        <li>
          <a href="#"> Account </a>
        </li>

        <li>
          <a style="cursor: pointer" (click)="logout()"> Log out </a>
        </li>
        <li class="separator hidden-lg hidden-md"></li>
      </ul>
    </div>
  </div>
</nav>
