.validation-message {
  position: absolute;
}

.search-filter {
  > div {
    position: relative;
    i {
      position: absolute;
      right: 10px;
      top: 11px;
      font-size: 2rem;
      pointer-events: none;
    }
  }
}

.cart-item-trash {
  color: tomato;
  margin: auto 1rem;
  transform: scale(1.5);
  cursor: pointer;
  font-weight: bold;

  &:hover {
    color: red;
  }
}

.order-summary-button {
  display: flex;
  > a {
    flex-grow: 1;
    margin: auto;
  }
}

.cc-form__wrapper--long {
  width: 60%;
}

.cc-form__wrapper--short {
  width: 15%;
}

.cc-form__wrapper {
  margin-right: 5%;
  margin-top: 5%;
}

.cc-form__wrapper.cc-form__wrapper--last {
  margin-left: 5%;
  margin-right: 20%;
  margin-top: auto;
}
